.containerTomaPedidos{
    display: grid;
    grid-template-columns: 1fr;
    width: 80%;
    margin: 200px auto;
}
.promos h3{
    margin-bottom: 50px;
}
#promos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
}

.itemContainer{
    font-size: .8rem !important;
    
}

.itemContainer .titulo{
    font-size: 1rem;
    
}

.card,
.cardPromos {
    width: 250px;
    height: 250px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.486);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    transition: .4s;
    padding: 20px;
}
.todo h3{
    margin-top: 50px;
    margin-bottom: 0px;
}

.formulario form label{
    display: block;
    font-size: 1.5rem;

}
.formulario h3{
    font-size: 2rem;
    margin-bottom: 20px;    
}
.formulario form {
    margin-bottom: 20px;
}
form input,
form select{
    width: 250px;
    height: 30px;
}
#carrito,
.container-cart
{
    display: block !important;
}