*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    margin-top:140px ;

    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.header .avatar img{
    filter: opacity(50%);
}
.info-trabajador h3{
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.58);
}
.pedidos-trabajador{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.pedidos-trabajador .grid{
    display: grid;
    width: 100%;
    margin-top: 50px;
    grid-template-columns: 1fr;
    gap: 20px;

}
#pedidoTomado{
    width: 110%;
    margin-top: 20px;
}
.tarjeta{
    width: 100%;
    height: 20vh;
    padding-left: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.76);
    background-color: rgba(255, 136, 0, 0.418);
}
.tarjeta h3{
    font-size: 1.3rem;
    font-weight: bold;
    
}
.tarjeta p{
    font-size: 1.2rem;
    margin-right: 50px;
    margin-left: 20px;

}
.tarjeta .articulos{
    text-align: left;
}
.pedidos-trabajador .grid .card-pedido{
    width: 100%;
    height: 75px;
    padding: 10px;
    display: flex;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.329);
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}
.card-pedido button,
.tarjeta button{
    background-color: rgb(0, 0, 0);
    border: none;
    height: 100%;
    padding: 5px;
    color: white;
    font-size: 1rem;
}